@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.canvas {
  display: flex;
  width: 100%;
  height: 97vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  ;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  height: 650px;
  border-radius: 6px;
  margin-top: -45px;
  -webkit-box-shadow: 0px 3px 6px 3px #CFCFCF; 
  box-shadow: 0px 3px 6px 3px #CFCFCF;
  overflow: hidden;
}

.separator {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 140px;
  margin-bottom: 60px;
  border-radius: 6px 6px 0 0;
  border: 10px double white;
  border-top: none;
}

.profile-pic {
  width: 7.5rem;
  height: 8.13rem;
  border: 0.13rem solid black;
  top: 10rem;
  margin-top: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px double black;
}

.text-container {
  width: 85%;
  max-width: 900px;
  text-align: center;
  margin-top: -20px;
}

.text-container p {
  font-size: 15px;
  margin-top: 35px;
  margin-bottom: -40px;
  height: 150px;
}

.container h1 {
  margin-top: -10px;
  text-transform: capitalize;
  text-align: center;
}

.container h2 {
  margin-top: -5px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.arrow {
  font-size: 40px;
}

.surprise {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.slider-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: 100px;
}

.slider-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  -webkit-box-shadow: 0px 3px 6px 3px #CFCFCF; 
  box-shadow: 0px 3px 6px 3px #CFCFCF;
}

.active {
  background-color: black;
}

.button-container {
  display: flex;
  width: 200px;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

button {
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}

button:hover {
  cursor: pointer;
}

